@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$font-family-base: 'Kaushan Script', cursive;
$pink: palevioletred;
$primary: palevioletred;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.card {
    @extend .card;
    background: rgb(13, 13, 13);
}